{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block title %} - Reposition islands{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/leaflet.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/repositioner.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/leaflet.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/repositioner.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/dashboard"><i class="fa fa-home"></i></a>
    </li>
    <li class="active"><span>Reposition islands</span></li>
{% endblock %}
{% block content %}
<form id="reposform" action="{{ path('reposition_islands') }}" method="post" enctype="multipart/form-data">
    <p>Repositioning tool for all islands. Be carefull all islands you drag in here will change position on the map.</p>
    <p>They turn black if they are flagged to change position after you dragged them.  <strong>BE CAREFULL!</strong></p>
    <div id="repositioner-map" class="repositioner-map"></div>
    <div id="hiddenFields"></div>
    <button type="submit" class="btn btn-success" id="btn_update_positions" name="btn_update_positions" disabled><i class="fa fa-save"></i></i> Update island positions</button>
</form>
    {% verbatim %}
        <script type="text/javascript">
            $(document).ready(function() {
                 WARepositioner.init('#reposform');
            });
        </script>
        {% endverbatim %}
{% endblock %}
